<%= @house.name %>

<ul>
    <% unless @house.students.nil? %>
    
        <% @house.students.each do |s| %>
            <li><%= s.name %></li>
        <% end %>
        
    <% else %>
        <li>No students</li>
    <% end %>
    
</ul>